.team-input {
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 75%;
}

.container {
  width: 40%;
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
}

.search-results-container {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.search-results {
  width: 75%;
  margin-left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.search-results>div {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.search-results>div:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

button {
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: green;
  color: white;
  margin-left: 1%;
  width: 24%;
  cursor: pointer;
}

button:disabled {
  opacity: 0.3;
}
